#quote-box {
  background: teal;
  width: 60vw;
  margin: 20vh auto 10vh auto;
  padding: 20px;

  #text {
    font-size: 3em;
    color: #fff;
  }

  #author {
    color: lighten(#fff, 10);
    float: right;
  }
}

#new-quote {
  display: block;
  margin: 20px auto;
  font-size: 2em;
  padding: 10px;

  &:hover {
    background: teal;
  }
}
